@{
    Layout = "..\\Shared\\_Layout.cshtml";
    ViewBag.Title = "Config";
}

<script type="text/template" id="listItemTemplate">
    <option <% if (selected == true) print('selected');%> ><%= name %></option>
</script>

<div id="body">
    <section class="content-wrapper">
        <h3>Board Config</h3>
        <div>
            <h4>Team</h4>
            <select id="teamNames" disabled></select>
        </div>
        <div>
            <h4>Build Definitions</h4>
            <select id="buildDefinitionNames" multiple disabled></select>
        </div>
        <div>
            <button id="save" disabled>Save</button>
        </div>
    </section>
</div>

<script>
    $(function() {
        $("#save").click(function () {
            storeSelectedListItems("#teamNames", LocalStorageKey_TeamNames);
            storeSelectedListItems("#buildDefinitionNames", LocalStorageKey_BuildDefinitionNames);
            window.location.replace("board");
        });

        var teamNamesCall = $.ajax({ url: "api/boardconfig/teamnames" });
        var buildDefinitionNamesCall = $.ajax({ url: "api/boardconfig/builddefinitionnames" });

        $.when(teamNamesCall, buildDefinitionNamesCall)
            .done(function (teamNamesResponse, buildDefinitionNamesResponse) {
                bindListToTemplate(teamNamesResponse[0], "#listItemTemplate", "#teamNames", LocalStorageKey_TeamNames);
                bindListToTemplate(buildDefinitionNamesResponse[0], "#listItemTemplate", "#buildDefinitionNames", LocalStorageKey_BuildDefinitionNames);
                $("#teamNames").removeAttr("disabled");
                $("#buildDefinitionNames").removeAttr("disabled");
                $("#save").removeAttr("disabled");
            });
    })
</script>




