@{
    Layout = "..\\Shared\\_Layout.cshtml";
    ViewBag.Title = "Config";
}

<script type="text/template" id="listItemTemplate">
    <option <% if (selected == true) print('selected');%> ><%= name %></option>
</script>

<div id="body">
    <section class="content-wrapper">
        <h3>Board Config</h3>
        <div>
            <h4>Team</h4>
            <select id="teamNames"></select>
        </div>
        <div>
            <h4>Build Definitions</h4>
            <select id="buildDefinitionNames" multiple></select>
        </div>
        <div>
            <button id="save">Save</button>
        </div>
    </section>
</div>

<script>
    $("#save").click(function () {
        storeSelectedListItems("#teamNames", LocalStorageKey_TeamNames);
        storeSelectedListItems("#buildDefinitionNames", LocalStorageKey_BuildDefinitionNames);
    });

    $.ajax({
        url: "api/boardconfig/teamnames"
    }).done(function (list) {
        bindListToTemplate(list, "#listItemTemplate", "#teamNames", LocalStorageKey_TeamNames);
    });

    $.ajax({
        url: "api/boardconfig/builddefinitionnames"
    }).done(function (list) {
        bindListToTemplate(list, "#listItemTemplate", "#buildDefinitionNames", LocalStorageKey_BuildDefinitionNames);
    });
</script>




