@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div id="body">
    <script type="text/template" id="buildInfoTemplate">
        <li class="<%= Status %>">
            <h2 id="Name"><%= Name %> <% formatString(BuildNumber, "") %></h2>
            <p><%= formatString(Status, "-") %></p>
            <p>Requested by <%= formatString(RequestedFor, "-") %></p>
            <p>Started at <%= formatDate(StartTime, "-") %></p>
            <p>Finished at <%= formatDate(FinishTime, "-") %></p>
            <p>Took <%= formatTime(ElapsedTime, "-") %></p>
            <p>Test pass rate of <% print(_.isNumber(TotalTestCount) == false ? "-" : ((TotalTestPassedCount / TotalTestCount) * 100).round(2) + '%') %></p>
        </li>
    </script>

    <ul id="buildInfoList">
    </ul>

    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script src="~/Scripts/sugar-full.development.js"></script>
    <script src="~/Scripts/App/buildinfo.js"></script>

    <script>
        var buildInfoList = new BuildInfoListView({ el: $("#buildInfoList") });
        buildInfoList.addItem("ottstfs", "Cloud.Main.Rolling");
        buildInfoList.addItem("ottstfs", "Cloud.Main.CI");
        buildInfoList.addItem("ottstfs", "Cloud.Main.Daily");

        refreshList();
        window.setInterval(refreshList, 60000);

        function refreshList() {
            console.log("refreshing list..");
            fetchModels(buildInfoList.collection.models);
        }

        function formatString(str, placeholder) {
            if (_.isNull(str) || str.isBlank()) return placeholder;
            return str;
        }

        function formatTime(str, placeholder) {
            if (_.isNull(str) || str.isBlank()) return placeholder;
            return str;
        }

        function formatDate(date, placeholder) {
            if (_.isNull(date) || (_.isString(date) && date.isBlank())) return placeholder;
            return Date.create(date).format();
        }
    </script>
</div>