@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div id="body">
    <script type="text/template" id="buildInfoTemplate">
        <li>
            <label id="Name"><%= Name %></label>
            <label id="BuildNumber"><%= BuildNumber %></label>
            <label id="Status"><%= Status %></label>
            <label id="StartTime"><%= StartTime %></label>
            <label id="FinishTime"><%= FinishTime %></label>
            <label id="LastChangeTime"><%= LastChangeTime %></label>
            <label id="ElapsedTime"><%= ElapsedTime %></label>
            <label id="RequestedBy"><%= RequestedBy %></label>
            <label id="RequestedFor"><%= RequestedFor %></label>
            <label id="TotalTestCount"><%= TotalTestCount %></label>
            <label id="TotalTestPassedCount"><%= TotalTestPassedCount %></label>
            <label id="TotalTestFailedCount"><%= TotalTestFailedCount %></label>
            <label id="TotalTestInconclusiveCount"><%= TotalTestInconclusiveCount %></label>
        </li>
    </script>

    <button id="fetch">Fetch items</button>

    <ul id="buildInfoList">
    </ul>

    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script src="~/Scripts/App/buildinfo.js"></script>

    <script>
        var buildInfoList = new BuildInfoListView({ el: $("#buildInfoList") });
        buildInfoList.addItem("ottstfs", "Cloud.Main.Rolling");
        buildInfoList.addItem("ottstfs", "Cloud.Main.CI");
        buildInfoList.addItem("ottstfs", "Cloud.Main.Daily");

        $("#fetch").click(function (e) {
            fetchModels(buildInfoList.collection.models);
        });
    </script>
</div>