@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Index";
}

<script type="text/template" id="iterationInfoTemplate">
    <h2><%= formatString(Name, "-") %></h2>
    <span><% print(EndDate.isBlank() ? "-" : moment().subtract("d", 1).from(EndDate, true) + "  left") %></span>
</script>

<script type="text/template" id="buildInfoTemplate">
    <li class="<%= Status %>">
        <h2 id="Name"><%= Name %> <%= formatString(Status, "") %> </h2>
        <p><%= formatString(BuildNumber, "-") %></p>
        <p></p>
        <p>Requested by <%= formatString(RequestedFor, "-") %></p>
        <p>Started <%= formatDate(StartTime, "-") %></p>
        <p>Finished <%= formatDate(FinishTime, "-") %></p>
        <p>Took <%= formatTime(ElapsedTime, "-") %></p>
        <p><%= getTestPassPercentage(TotalTestCount, TotalTestPassedCount) == null ? "No test data" : "Test pass rate of " + formatTestPassPercentage(getTestPassPercentage(TotalTestCount, TotalTestPassedCount)) %></p>
    </li>
</script>

<script type="text/template" id="workItemStatsTemplate_Narrow">
    <h3><%= Heading %></h3>
    <div class="chart narrowChart"></div>
</script>

<script type="text/template" id="workItemStatsTemplate_Wide">
    <h3><%= Heading %></h3>
    <div class="chart wideChart"></div>
</script>

<script src="~/Scripts/jquery-2.0.3.js"></script>
<script src="~/Scripts/flot/jquery.flot.js"></script>
<script src="~/Scripts/flot/jquery.flot.stack.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/backbone.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/sugar-full.development.js"></script>
<script src="~/Scripts/App/helpers.js"></script>
<script src="~/Scripts/App/buildinfo.js"></script>
<script src="~/Scripts/App/iterationinfo.js"></script>
<script src="~/Scripts/App/workitemstats.js"></script>

<div id="body">
    <div id="wrap">
        <div id="header">
            <div id="iterationInfo"></div>
        </div>
        <div id="main">
            <h3>Builds</h3>
            <ul id="buildInfoList"></ul>
        </div>
        <div id="sidebar">
            <div id="chart1"></div>
            <div id="chart2"></div>
        </div>
    </div>

    <script>
        $(function() {
            var TfsConnectionName = "ottstfs";
            var TfsRootIterationPath = "\\ISS Media Platform\\Iteration\\Cloud";

            var iterationInfoView;
            var buildInfoListView;
            var bugsByPriorityView;
            var bugsByAssignedToView;

            loadPage();

            function loadPage() {
                iterationInfoView = new IterationInfoView({
                    el: $("#iterationInfo"),
                    model: new IterationInfoModel({ ConnectionName: TfsConnectionName, Path: TfsRootIterationPath})
                });

                buildInfoListView = new BuildInfoListView({ el: $("#buildInfoList") });
                buildInfoListView.addItem(TfsConnectionName, "Cloud.Main.Rolling");
                buildInfoListView.addItem(TfsConnectionName, "Cloud.Main.CI");
                buildInfoListView.addItem(TfsConnectionName, "Cloud.Main.Daily");
                buildInfoListView.addItem(TfsConnectionName, "Cloud.Main.Manifest.Deployment.DevTest");

                bugsByPriorityView = new WorkItemStatsView({
                    templateId: "#workItemStatsTemplate_Narrow",
                    el: $("#chart1"),
                    model: new WorkItemStatsModel({
                        ConnectionName: TfsConnectionName,
                        Heading: "Active bugs by priority",
                        Action: "priority",
                        WorkItemType: "Bug",
                        State: "Active",
                        AreaPaths: "ISS Media Platform\\Cloud\\ContentInfrastructure\\Operator Portal platform, ISS Media Platform\\Cloud\\ContentInfrastructure\\Account Management, ISS Media Platform\\Cloud\\ContentInfrastructure\\Monetisation"
                    })
                });

                bugsByAssignedToView = new WorkItemStatsView({
                    templateId: "#workItemStatsTemplate_Wide",
                    el: $("#chart2"),
                    model: new WorkItemStatsModel({
                        ConnectionName: TfsConnectionName,
                        Heading: "Active bugs by people",
                        Action: "assignedto",
                        WorkItemType: "Bug",
                        State: "Active",
                        AreaPaths: "ISS Media Platform\\Cloud\\ContentInfrastructure\\Operator Portal platform, ISS Media Platform\\Cloud\\ContentInfrastructure\\Account Management, ISS Media Platform\\Cloud\\ContentInfrastructure\\Monetisation"
                    })
                });

                refreshPage();
                window.setInterval(refreshPage, 60000);
            }

            function refreshPage() {
                iterationInfoView.model.fetch();
                buildInfoListView.fetchModels();
                bugsByPriorityView.model.fetch();
                bugsByAssignedToView.model.fetch();
            }
        })
    </script>
</div>