<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
<!--
    <add key="TfsServerUri" value="http://mycollection:8080/tfs"/>
    <add key="TfsCollectionName" value="My Collection"/>
    <add key="TfsProjectName" value="My Project"/>
    <add key="TfsProjectName" value="My Team Name"/>
    <add key="TfsRootIterationPath" value="\My Project\Iteration"/>
    <add key="TfsBuildDefinitionNames" value="Gated, Rolling CI"/> 
    <add key="TfsWorkItemStatsWorkItemType" value="Bug"/> 
    <add key="TfsWorkItemStatsState" value="Active"/>
    <add key="UserImageUrlTemplate" value="http://myimages/{0}.jpg"/>
-->
    
    <add key="TfsServerUri" value="http://vstfotts:8080/tfs"/>
    <add key="TfsCollectionName" value="IEB"/>
    <add key="TfsProjectName" value="ISS Media Platform"/>
    <add key="TfsTeamName" value="Content Infrastructure - UK"/>
    <add key="TfsRootIterationPath" value="\ISS Media Platform\Iteration\Cloud"/>
    <add key="TfsBuildDefinitionNames" value="Cloud.Main.Rolling, Cloud.Main.CI, Cloud.Main.Daily, Cloud.Main.Manifest.Deployment.DevTest"/>
    <add key="TfsWorkItemStatsWorkItemType" value="Bug"/>
    <add key="TfsWorkItemStatsState" value="Active"/>
    <add key="UserImageUrlTemplate" value="http://who/Photos/{0}.jpg"/>


  </appSettings>
</configuration>