<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TfsServerUri" value="https://adamgilmore.visualstudio.com"/>
    <add key="TfsCollectionName" value="DefaultCollection"/>
    <add key="TfsProjectName" value="ChasingChickens"/>
    <add key="TfsBuildDefinitionName" value="Deploy - Staging - Catalog API"/>
  </appSettings>
</configuration>