<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RefreshIntervalSeconds" value="60"/>
    <add key="TfsServerUri" value="http://vstfotts:8080/tfs"/>
    <add key="TfsCollectionName" value="IEB"/>
    <add key="TfsProjectName" value="ISS Media Platform"/>
    <add key="TfsBuildDefinitionName" value="Cloud.Main.CI"/>
  </appSettings>
</configuration>