<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RefreshIntervalSeconds" value="5"/>
    <add key="TfsServerUri" value="http://vstfotts:8080/tfs"/>
    <add key="TfsCollectionName" value="IEB"/>
    <add key="TfsProjectName" value="ISS Media Platform"/>
    <add key="TfsBuildDefinitionNames" value="Cloud.Main.CI, Cloud.Main.GC2"/>
  </appSettings>
</configuration>